# Configuración de subnets para ingress
# Estas subnets deben tener rutas configuradas hacia FortiGate

INGRESS_SUBNET_AZ1="subnet-048bd456143ac5729"
INGRESS_SUBNET_AZ2="subnet-08ea1a92fe396f960"

# Configuración del cluster
CLUSTER_NAME="customer-eks-cluster"
REGION="us-east-1"

# AWS Profile (opcional)
# AWS_PROFILE="tu-profile-name"
